<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Редактирование пользователя</title>
</head>
<body>
  <div id="app" v-cloak>
    <div class="container">

      <user-form v-bind:user="user"></user-form>
    </div>
  </div>

  <template id="userform">
    <div>
      <form action="">
        <div class="row">
          <div class="col-lg-9 offset-lg-2">
            <div class="h3">{{ toogleTitleText }}</div>
            <div class="h5">Профиль</div>
            <div class="row">
              <div class="col-lg-5">
                <div class="form-group">
                  <label for="name">Имя</label>
                  <input type="text" id="name" class="form-control" v-model="form.name" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="username">Логин</label>
                  <input type="text" id="username" class="form-control" v-model="form.username" autocomplete="off">
                </div>
              </div>
              <div class="col-lg-5 offset-lg-1">
                <div class="form-group">
                  <label for="email">E-mail</label>
                  <input type="text" id="email" class="form-control" v-model="form.email" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="phone">Телефон</label>
                  <input type="text" id="phone" class="form-control" v-model="form.phone" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="h5">Адрес</div>
            <div class="row">
              <div class="col-lg-5">
                <div class="form-group">
                  <label for="zipcode">Почтовый индекс</label>
                  <input type="text" id="zipcode" class="form-control" v-model="form.zipcode" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="city">Город</label>
                  <input type="text" id="city" class="form-control" v-model="form.city" autocomplete="off">
                </div>
              </div>
              <div class="col-lg-5 offset-lg-1">
                <div class="form-group">
                  <label for="street">Улица</label>
                  <input type="text" id="street" class="form-control" v-model="form.street" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="suite">Дом</label>
                  <input type="text" id="suite" class="form-control" v-model="form.suite" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <button type="submit" class="btn-primary btn-lg">Сохранить</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </template>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    function $_GET(key) {
      var p = window.location.search;
      p = p.match(new RegExp(key + '=([^&=]+)'));
      return p ? p[1] : false;
    }

    var UserForm = {
      template: '#userform',
      props: {
        user: {
          type: Object,
          required: true
        }
      },
      data: function() {
        return {
          form: {
            name: '',
            username: '',
            email: '',
            phone: ''
          },
          isUserLoad: false
        }
      },
      computed: {
        toogleTitleText: function() {
          return this.isUserLoad ? 'Редактировать пользователя' : 'Добавить пользователя'
        },
      },
      watch: {
        user: 'loadUser'
      },
      methods: {
        loadUser: function(){
          console.log('user load', this.user);

          this.isUserLoad = true;
          this.form.name = this.user.name;
          this.form.username = this.user.username;
          this.form.email = this.user.email;
          this.form.phone = this.user.phone;
          this.form.street = this.user.address.street;
          this.form.city = this.user.address.city;
          this.form.suite = this.user.address.suite;
          this.form.zipcode = this.user.address.zipcode;
        }
      }
    }

    // =====

    var vm = new Vue({
      el: '#app',
      components: {
        'user-form': UserForm
      },
      data: function() {
        return {
          user: {}
        }
      },
      mounted() {
        var id = $_GET('id'),
            self = this;

        if (id){
          axios
            .get('http://jsonplaceholder.typicode.com/users/' + id)
            .then(function(response) {
              self.user = response.data;
            });
        }
      }
    })
  </script>
</body>
</html>