<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Список пользователей</title>
</head>
<body>

  <div id="app" v-cloak>
    <div class="container">

      <template v-if="status == 'list'">
        <user-list v-bind:users="list" v-on:load="loadFromList" v-on:edit="editFromList" v-on:remove="removeFromList"></user-list>
      </template>

      <template v-if="status == 'edit'">
        <user-form v-bind:user="editUser" v-on:save="saveFromList" v-on:back="backFromList"></user-form>
      </template>

    </div>
  </div>

  <template id="userlist">
    <div>
      <div class="h3">Список пользователей</div>

      <button type="button" v-on:click="loadUsers">
        Загрузить
      </button>

      <table border="0" class="table tbl-users" v-if="total">
        <thead class="thead-light">
          <tr>
            <th scope="col"></th>
            <th scope="col">Имя пользователя</th>
            <th scope="col">Адрес</th>
            <th scope="col">Контактные данные</th>
            <th scope="col">Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in users" v-bind:key="item.id">
            <td>{{ index + 1 }}</td>
            <td>{{ item.name }}</td>
            <td>
              {{ item.address.suite }}, {{ item.address.street }}, {{ item.address.city }}, {{ item.address.zipcode }}
            </td>
            <td>
              <div v-if="item.phone">{{ item.phone }}</div>
              <a :href="'mailto:' + item.email" v-if="item.email">{{ item.email }}</a>
            </td>
            <td class="tbl-users__actions">
              <button type="button" v-on:click="editUser(item.id)" class="btn-link">Редактировать</button>
              <button type="button" v-on:click="removeUser(item.id)" class="btn-link">Удалить</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </template>

  <template id="userform">
    <div>
      <form action="">
        <div class="row">
          <div class="col-lg-9 offset-lg-2">
            <div class="back_to_list">
              <button type="button" v-on:click="closeEditForm" class="btn-link">Назад к списку</button>
            </div>
            <div class="h3">{{ toogleTitleText }}</div>
            <div class="h5">Профиль</div>
            <div class="row">
              <div class="col-lg-5">
                <div class="form-group">
                  <label for="name">Имя</label>
                  <input type="text" id="name" class="form-control" v-model="form.name" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="username">Логин</label>
                  <input type="text" id="username" class="form-control" v-model="form.username" autocomplete="off">
                </div>
              </div>
              <div class="col-lg-5 offset-lg-1">
                <div class="form-group">
                  <label for="email">E-mail</label>
                  <input type="text" id="email" class="form-control" v-model="form.email" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="phone">Телефон</label>
                  <input type="text" id="phone" class="form-control" v-model="form.phone" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="h5">Адрес</div>
            <div class="row">
              <div class="col-lg-5">
                <div class="form-group">
                  <label for="zipcode">Почтовый индекс</label>
                  <input type="text" id="zipcode" class="form-control" v-model="form.zipcode" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="city">Город</label>
                  <input type="text" id="city" class="form-control" v-model="form.city" autocomplete="off">
                </div>
              </div>
              <div class="col-lg-5 offset-lg-1">
                <div class="form-group">
                  <label for="street">Улица</label>
                  <input type="text" id="street" class="form-control" v-model="form.street" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="suite">Дом</label>
                  <input type="text" id="suite" class="form-control" v-model="form.suite" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <button type="button" class="btn-primary btn-lg" v-on:click="saveUser(user.id, form)">Сохранить</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </template>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    var UserList = {
      template: '#userlist',
      props: {
        users: {
          type: Array,
          required: true
        }
      },
      computed: {
        total: function() {
          return this.users.length
        }
      },
      methods: {
        loadUsers: function() {
          this.$emit('load');
        },
        editUser: function(id) {
          this.$emit('edit', id);
        },
        removeUser: function(id) {
          this.$emit('remove', id);
        }
      }
    }

    // =====

    var UserForm = {
      template: '#userform',
      props: {
        user: {
          type: Object,
          required: true
        }
      },
      data: function() {
        return {
          form: {
            name: '',
            username: '',
            email: '',
            phone: ''
          },
          isUserLoad: false
        }
      },
      computed: {
        toogleTitleText: function() {
          return this.isUserLoad ? 'Редактировать пользователя' : 'Добавить пользователя'
        },
      },
      watch: {
        user: {
          immediate: true,
          handler: 'loadUser'
        }
      },
      mounted: function() {
        //console.log(this.user);
      },
      methods: {
        loadUser: function(){
          if (this.user){
            this.isUserLoad = true;
            this.form.name = this.user.name;
            this.form.username = this.user.username;
            this.form.email = this.user.email;
            this.form.phone = this.user.phone;
            this.form.street = this.user.address.street;
            this.form.city = this.user.address.city;
            this.form.suite = this.user.address.suite;
            this.form.zipcode = this.user.address.zipcode;
          }
        },
        saveUser: function(id, form) {
          this.$emit('save', id, form);
        },
        closeEditForm: function() {
          this.$emit('back');
        }
      }
    }

    // =====

    var vm = new Vue({
      el: '#app',
      components: {
        'user-list': UserList,
        'user-form': UserForm
      },
      data: function() {
        return {
          list: [],
          status: 'list',
          editUser: {},
          currentTabComponent: ''
        }
      },
      watch: {
        list: 'listChanged',
      },
      created: function(){
        this.currentTabComponent = 'user-list';
      },
      methods: {
        listChanged: function(){
          console.log('changed list', this.list);
        },
        loadFromList: function() {
          var self = this;

          axios
            .get('http://jsonplaceholder.typicode.com/users')
            .then(function(response) {
              self.list = response.data;
            });
        },
        editFromList: function(id){
          this.status = 'edit';
          this.editUser = this.list.find(function(item) {
            return item.id == id;
          });
        },
        removeFromList: function(id){
          this.list = this.list.filter(function(item) {
            return item.id != id;
          })
        },
        backFromList: function() {
          this.status = 'list';
        },
        saveFromList: function(id, form) {
          var newItem = this.list.find(function(item) {
            return item.id === id;
          });

          newItem.name = form.name;
          newItem.username = form.username;
          newItem.email = form.email;
          newItem.phone = form.phone;
          newItem.address.street = form.street;
          newItem.address.city = form.city;
          newItem.address.suite = form.suite;
          newItem.address.zipcode = form.zipcode;

          this.status = 'list';
        }
      }
    })
  </script>
</body>
</html>