<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Список пользователей</title>
</head>
<body>

  <div id="app" v-cloak>
    <div class="container">
      <div class="h3">Список пользователей</div>

      <button type="button" v-on:click="loadUsers">
        Загрузить
      </button>

      <user-list v-bind:users="list" v-on:remove="removeFromList"></user-list>
    </div>
  </div>

  <template id="userlist">
    <div>
      <table border="0" class="table tbl-users" v-if="total">
        <thead class="thead-light">
          <tr>
            <th scope="col"></th>
            <th scope="col">Имя пользователя</th>
            <th scope="col">Контактные данные</th>
            <th scope="col">Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in users" v-bind:key="item.id">
            <td>{{ index + 1 }}</td>
            <td>{{ item.name }}</td>
            <td>
              <div v-if="item.phone">{{ item.phone }}</div>
              <a :href="'mailto:' + item.email" v-if="item.email">{{ item.email }}</a>
            </td>
            <td class="tbl-users__actions">
              <a :href="'edituser.html?id=' + item.id">Редактировать</a>
              <a href="javascript:void(0);" v-on:click="removeUser(item.id)">Удалить</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </template>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    var UserList = {
      template: '#userlist',
      props: {
        users: {
          type: Array,
          required: true
        }
      },
      computed: {
        total: function() {
          return this.users.length
        }
      },
      methods: {
        removeUser: function(id) {
          this.$emit('remove', id);
        }
      }
    }

    // =====

    var vm = new Vue({
      el: '#app',
      components: {
        'user-list': UserList
      },
      data: function() {
        return {
          list: []
        }
      },
      watch: {
        list: 'listChanged',
      },
      methods: {
        loadUsers: function() {
          var self = this;

          axios
            .get('http://jsonplaceholder.typicode.com/users')
            .then(function(response) {
              self.list = response.data;
            });
        },
        removeFromList: function(id){
          this.list = this.list.filter(function(item) {
            return item.id != id;
          })
        },
        listChanged: function(){
          console.log('changed list', this.list);
        }
      }
    })
  </script>
</body>
</html>