[v-cloak] {
  display: none;
}

.btn-link{
  display: inline-block;
  vertical-align: top;
  background: none;
  outline: none;
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
  padding: 0;
  margin: 0;
  border: 0;
}
.btn-link:hover{
  color: #0056b3;
  text-decoration: underline;
}
.btn-link:focus, .btn-link:active {
  outline: none;
}

.back_to_list{
  margin-bottom: 30px;
}

.form-group label{
  display: block;
  width: 100%;
}

.tbl-users{
  margin-top: 30px;
  margin-bottom: 30px;
}
.tbl-users thead tr th:last-child{
  text-align: center;
}
.tbl-users__actions {
  text-align: center;
  width: 240px;
}
.tbl-users__actions .btn-link{
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.tbl-users__actions .btn-link:last-child{
  margin-right: 0;
}